.sidebar-dark .nav-item .nav-link {
  color: #000;
  font-weight: bold;
  border-left: 8px solid #fff;
}
.sidebar-dark .sidebar-brand {
  color: #000;
}
.sidebar-dark .nav-item.active .nav-link {
  color: #4e73df;
  font-weight: bold;
  background: #e2eaff;
  border-left: 8px solid #4e73df;
}
.sidebar-dark .nav-item.active .nav-link i {
  color: #4e73df;
}
.sidebar-dark > .nav-item .nav-link:active,
.sidebar-dark > .nav-item .nav-link:focus,
.sidebar-dark > .nav-item .nav-link:hover {
  color: #4e73df;
  font-weight: bold;
  background: #e2eaff;
  border-left: 8px solid #4e73df;
}
.sidebar-dark .nav-item .nav-link.active i {
  color: #4e73df;
  font-size: 20px;
}
@media (min-width: 768px) {
  .sidebar .nav-item .nav-link span {
    font-size: 1.2rem;
    display: inline;
  }
}

.sidebar-dark .nav-item .nav-link:active i,
.sidebar-dark .nav-item .nav-link.active:focus i,
.sidebar-dark .nav-item .nav-link.active:hover i {
  color: #4e73df;
}
a.sidebar-brand.d-flex.align-items-center.justify-content-center {
  border-right: 1px solid #ccc;
  border-bottom: 2px solid #9e9e9ed4;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #000000;
  font-weight: bold;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #000000;
  font-size: 25px;
}

.nav-header .nav-link.active {
  border-bottom: 7px solid #4e73df;
  font-size: 25px;
}
.sidebar-dark .nav-item .nav-link.active {
  color: #4e73df;
  font-weight: bold;
  background: #e2eaff;
  border-left: 8px solid #4e73df;
}
.item-delete i {
  background: #fdd9d9;
  color: red;
  padding: 4px 6px;
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
}
.item-delete-display i {
  background: #ffffff;
  color: #ccc;

  border: 1px solid #ccc;
  padding: 4px 6px;
  border-radius: 50%;
  cursor: pointer;
}
.item-update i {
  background: #d4e5ff;
  color: #00bfea;
  padding: 4px 5px;
  border: 1px solid #00bfea;
  border-radius: 50%;
}
.item-censorship i {
  background: #cef9d1;
  color: #8bc34a;
  padding: 4px 5px;
  border: 1px solid #8bc34a;
  border-radius: 50%;
  cursor: pointer;
}
.item-censorship-display {
  color: #ccc;
}
.item-censorship-display i {
  background: #ffffff;
  color: #ccc;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 4px 5px;
  border-radius: 50%;
}
table.tableminilist {
  border: 1px solid #000000;
  background-color: #e9f4ff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.tableminilist td,
table.tableminilist th {
  border: 1px solid #000000;
  padding: 4px 5px;
}
table.tableminilist tbody td {
  font-size: 14px;
  color: #000000;
}
table.tableminilist tfoot td {
  font-size: 14px;
}
.search-product {
  box-sizing: border-box;
  padding-left: 28px;
  border: 1px solid #ccc;
  line-height: 27px;
  background: aliceblue;
}
td div {
  font-size: 11px;
}
.card {
  box-shadow: 0px 0px 7px 0px;
}
select.rounded-pill:focus,
input.rounded-pill:focus {
  outline: none;
}
.search-input {
  position: relative;
}
.search-input i {
  position: absolute;
  top: 7px;
  left: 8px;
  color: #000;
}
.table-striped-even tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.04);
}
.table {
  color: #000;
}
.table a {
  color: #000;
  text-decoration: none;
}
thead.thead-light tr th {
  color: #000 !important;
}
